{% extends 'base.html'%}

{% block title %}Sign up{% endblock %}

{% block content %}
    <h2> Sign up </h2>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="password1" class="form-label">Password</label>
          <input type="password" name="password1" class="form-control" id="password1">
        </div>
        <div class="mb-3">
          <label for="password2" class="form-label">Repeat password</label>
          <input type="password" name="password2" class="form-control" id="password2">
        </div>
        <div class="mb-3">
          <label for="jobtitle" class="form-label">Job Title</label>
          <input type="text" name="jobtitle" class="form-control" id="jobtitle">
        </div>


        {% if form.errors or form.non_field_errors %}
            <div class='alert alert-danger' role="alert">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}